<!DOCTYPE html>
<html ng-app="blog">
<head>
	<title>Blog</title>
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1 class="page-title">OTP Authentication</h1>
	<form method='POST' action='/'>
		<input type='text' placeholder='Mobile Number' name='phone' />
		<input type='submit' value='Generate OTP' />
	</form>
</body>
</html>